# Logs
logs
*.log
npm-debug.log*
*.lock

# Dependency directories
node_modules/
package-lock.json

# Optional npm cache directory
.npm

# Next.js build output
.next/
out/

# Prod Bundle
build/
bundle.zip

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js static cache
.cache/

# Vercel deployment
.vercel
.vercel_build_output

# Debugging & system files
debug.log
.DS_Store
Thumbs.db

# Editor & workspace files
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

# Next.js specific files
.next/trace
.next/cache

# VK Mini Apps hosting config
vk-hosting
