.User {
    text-align: center;
    padding-top: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out 500ms forwards;
}

.Gogogo {
    color: #FEFEFE;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}